.card-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: auto;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  align-items: center;
  border: 2px solid black;
  padding: 15px;
}

.card > img {
  aspect-ratio: 1 / 1;
  width: 80px;
  height: auto;
  object-fit: cover;
  border-radius: 40px;
}

.card > p {
  margin-top: 0px;
  text-align: center;
}

.card > button {
  background-color: black;
  color: rgba(255,255,255,.9);
  border-radius: 25px;
  font-size: medium;
  padding: 10px 30px 10px 30px;
}